.aligntomid {
    text-align: center
}
.border-container {
    border-width:6px !important;
}
body {
    background-image: url('space.webp');
}
div {
  background-color: whitesmoke;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}